<div class="p-d-flex">
  <div class="p-grid p-m-auto" style="width: 400px;height:400px;margin-top: 20px !important;" *ngIf="board" id="board">
    <div [class]="'p-col-4 cell-' + i +' ' + state" *ngFor="let state of board.state;let i = index;"
      (click)="hitCell(i)" [id]="'cell_' + i">
      <div class="cell p-ai-center p-jc-center" pRipple>
        <span class="material-icons">
          <ng-container *ngIf="['o','x'].includes(state)">
            {{state == 'o' ? 'panorama_fish_eye': 'close'}}
          </ng-container>
        </span>
      </div>
    </div>
  </div>
</div>

<div class="card" style="width: 400px;height:400px;margin: auto;padding: 4px;">
  <h4 class="p-mb-1">Starting Player</h4>
  <p-dropdown [options]="gameService.players" [(ngModel)]="gameService.startingPlayer" optionLabel="name"
    optionValue="value" [style]="{'width': '100%'}"></p-dropdown>
  <button pButton pRipple type="button" label="New Game" class="p-button-raised p-mt-2"
    (click)="gameService.newGame()"></button>
</div>

<!-- {{gameService.startingPlayer}}
{{gameService.players | json}}
<div class="field">
  <label for="starting">Starting Player</label>
  <select id="starting">
    <option value="1">Human</option>
    <option value="0">Computer</option>
  </select>
</div>

<div class="field">
  <label for="depth">Depth (Difficulty)</label>
  <select id="depth">
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option selected="selected" value="-1">Unlimited</option>
  </select>
</div>

<div id="newGame">New Game</div> -->